<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="output.css">
  </head>
  <body class="bg-cyan-950">
    <center>
      <h1 class="font-[Helvetica] text-4xl mt-[50px] text-cyan-100">Sign In</h1>
      <form method="post" action="/signin" class="relative text-center rounded-lg bg-black text-2xl py-[5px] font-[Helvetica] w-[400px]">
	<input placeholder="Username" name="username" class="text-cyan-100 bg-gray-800 hover:bg-gray-900 rounded-md px-2 my-2">
	<input type="password" placeholder="Password" name="password" class="text-cyan-100 bg-gray-800 hover:bg-gray-900 rounded-md mb-2 px-2">
	<input type="submit" value="Submit" class="text-cyan-100 bg-gray-800 hover:bg-gray-900 cursor-pointer rounded-md mb-2 px-2">
      </form>
    </center>
  </body>
</html>
